.styled-txt{
    font-family: 'Kirang Haerang', cursive;
    color: lavender;
    font-size: 36px;
}

.styled-txt .h3{
    font-family: 'Kirang Haerang', cursive;
    color: lavender;
    font-size: 18px;
}