.txt {
    /* font-family: 'Waiting for the Sunrise', cursive;  */
    font-family: 'Alfa Slab One', cursive;
    font-size:18px; 
    margin:  12px 12px; 
    padding: 20px 20px ;
    letter-spacing: 2px; 
    font-weight:200;
    background-color: black;
    color: crimson;
  }